table {
    table-layout: fixed;
    width: 100%;
}
td {
    vertical-align: middle;
    text-align: center;
}
.circle{
    text-align: match-parent;
    width: calc(var(--width)*100);
    height: calc(var(--height)*100);
    min-width: 50px;
    min-height: 50px;
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
    background-color: var(--background-color);
    display: inline-block;
    line-height: calc(var(--line-height)*100);
}
.circle:hover .text{
    opacity: 1;
}
.text{
    color:black;
    opacity: 0;
}

.container {
  height: 100px;
  position: relative;
}

.center {
  margin: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
button {
  background: #ededed;
  border: 1px solid #ccc;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}
button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}